src/pug/biplace.pug
extends partials/default.pug

block title
  title Static-Dev

block content

    section.biplace     
        - wiki = 'https://fr.wikipedia.org/wiki/Wikip%C3%A9dia:Accueil_principal'
        - weekend = 'https://estcequecestbientotleweekend.fr/'
        
        
        .container
            .row
                .biplace--text.col-12
                    h1.text-center Welcome Home
                    h5.text-muted.text-center ceci est un sous titre qui sert de description, voilà tout les gens. je n'ai rien de précis à déclarer. Mais comme l'a dit un grand homme " You can be do what you want to do"
                           
                .biplace--block.card.col-12.col-md
                    h2.card-title.text-center.biplace--title Wikipedia
                    p.text-muted.card-text.biplace--description blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla
                    .d-flex.align-items-center
                        a.card-link.biplace--link( href=wiki ) faire un ptit tour

                .biplace--block.card.col-12.col-md
                    h2.card-title.text-center.biplace--title c'est bientot le week-end ?
                    p.text-muted.card-text.biplace--description blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla
                    .d-flex.align-items-center
                        a.card-link.biplace--link( href=weekend ) vérifier

dist/biplace.html
<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Static-Dev</title>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta content="telephone=no" name="format-detection">
		<meta name="HandheldFriendly" content="true">
		<link href="https://fonts.googleapis.com/css?family=Raleway&amp;display=swap" rel="stylesheet">
		<meta name="msapplication-TileImage" content="assets/img/content-fav/ms-icon-144x144.png">
		<link rel="icon" type="image/x-icon" href="/assets/img/content-fav/favicon.ico">
		<meta name="theme-color" content="#ffffff">
		<meta name="msapplication-TileColor" content="#ffffff">
		<link href="./assets/css/main.css" rel="stylesheet">
		<script src="./assets/js/plugins.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyC_s2K1Q1SAiUtdos-acg88BMjNUTI6Lo0"></script>
	</head>
	<body>
		<main class="site-main">
			<section class="biplace">    
				<div class="container">
					<div class="row">
						<div class="biplace--text col-12">
							<h1 class="text-center">Welcome Home</h1>
							<h5 class="text-muted text-center">ceci est un sous titre qui sert de description, voilà tout les gens. je n'ai rien de précis à déclarer. Mais comme l'a dit un grand homme " You can be do what you want to do"</h5>
						</div>
						<div class="biplace--block card col-12 col-md">
							<h2 class="card-title text-center biplace--title">Wikipedia</h2>
							<p class="text-muted card-text biplace--description">blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla</p>
							<div class="d-flex align-items-center"><a class="card-link biplace--link" href="https://fr.wikipedia.org/wiki/Wikip%C3%A9dia:Accueil_principal">faire un ptit tour</a></div>
						</div>
						<div class="biplace--block card col-12 col-md">
							<h2 class="card-title text-center biplace--title">c'est bientot le week-end ?</h2>
							<p class="text-muted card-text biplace--description">blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla blabla bla blablabla bla blabla blablabla bla blabla bla</p>
							<div class="d-flex align-items-center"><a class="card-link biplace--link" href="https://estcequecestbientotleweekend.fr/">vérifier</a></div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="site-footer"></footer>
		<script src="./assets/js/main.js"></script>
	</body>
</html>
